<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="static/img/favicon.png" />

</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="/static/img/pic02.jpg" alt="" />
			<h1><a href="/">YouSpot</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" class="yt" accesskey="1">Inicio</a></li>
				<li><a href="/listasyt" class="button alt" accesskey="2">Buscar playlist en Youtube</a></li>
				<li><a href="/mis_playlist" class="button alt" accesskey="3">Mis playlist</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="banner">
			<img src="/static/img/pic01.jpg" alt="" class="image-full" />
		</div>
		<div id="welcome">
			<div class="title">
				<h1>YouSpot</h1>
				<span class="byline">Busca listas de reproducción y conviertelas en una playlist en Spotify</span>
			</div>
			{% block content %}{% endblock %}
			{% block listas %}{% endblock %}
			{% block buscadoryt %}{% endblock %}
			{% block errorlista %}{% endblock %}
			{% block formularioyt %}{% endblock %}
		</div>
		<div id="copyright">
			<span>&copy; 2018 YouSpot </span>
			<span>Ǵit Hub<a href="https://github.com/jesusarias1995" rel="nofollow"> Jesús Arias</a>.</span>
		</div>
	</div>
</div>
</body>
</html>
