{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block buscadoryt %}
<br>
	<h1>VIDEOS DE LA LISTA</h1>
	<h2><a href="/tratarlista/{{clave}}">Añadir toda la lista a una playlist</a></h2>
	{% for a,b in lista_ti|zip(lista_id) %}
		<p>Enlace a Youtube: <a href="//www.youtube.com/watch?v={{b}}"><strong>{{a}}</strong></a></br>
			<a href="/cancionesyt/{{a}}"><strong>Buscar cancion en Spotify</strong></a></p>
		<br>
		<p><iframe width="800" height="480" src="//www.youtube.com/embed/{{b}}"  allowfullscreen></iframe></p>
	{% endfor %}
<br>
{% endblock %}