{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block menu %}
	<li><a href="{{ url_for('inicio') }}" class="yt" accesskey="1">Inicio</a></li>
	<li><a href="{{ url_for('listasyt') }}" class="button alt" accesskey="2">Buscar listas en Youtube</a></li>
{% endblock %}
{% block formularioyt %}
<br>
	<h1>BUSCADOR DE PLAYLIST</h1>
	<form action="/buscar_listasyt" method="post">
	<div>
		<fieldset>
			<legend>Busca las playlist</legend>
			Nombre playlist: <input type="text" name="buscar" required/>
			Numero de playlist: <input type="number" name="cantidad" min='1' value='1' max='10' required/>
			<br>
		</fieldset>
		<input type="submit" value="Enviar">
	</form>
<br>
{% endblock %}