{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block formularioyt %}
<br>
	<h1>BUSCADOR DE LISTAS DE REPRODUCCION</h1>
	<form action="/eventos/add" method="POST">
		<fieldset>
			<legend>Intoduce el nombre de la lista y el número</legend>
			<div class="form-group">
				<label for="buscar">Nombre de la lista: </label>
				<input class="form-control" id="nombre" type="text" name="buscar" maxlength="100" required> <br/>
			</div>
			<div class="form-group">
				<label for="numero">Número de listas: </label>
				<input class="form-control" type="number" name="cantidad" min='1' value='1' max='10' required/>
			</div>
		</fieldset>
		<input type="submit" value="Buscar">
	</form>
<br>
{% endblock %}