{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block menu %}
	<li><a href="{{ url_for('inicio') }}" class="yt" accesskey="1">Inicio</a></li>
	<li><a href="{{ url_for('listasyt') }}" class="button alt" accesskey="2">Buscar listas en Youtube</a></li>
	<li><a href="{{ url_for('mis_playlist') }}" class="button alt" accesskey="3">Mis playlist</a></li>
{% endblock %}
{% block content %}
	<a href="/perfil_spotify"><button type="button" class="btn btn-primary btn-sm">Iniciar Spotify</button></a>
{% endblock %}
