{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block menu %}
	<li><a href="{{ url_for('inicio') }}" class="yt" accesskey="1">Inicio</a></li>
	<li><a href="{{ url_for('listasyt') }}" class="button alt" accesskey="2">Buscar listas en Youtube</a></li>
	<li><a href="{{ url_for('mis_playlist') }}" class="button alt" accesskey="3">Mis playlist</a></li>
{% endblock %}
{% block errorlista %}
<br>
	<h1>Error, no hemos podido encontrar ningun video</h1>
	<h2>Lo sentimos mucho</h2>
<br>
	<h1>¿Que quieres hacer ahora?</h1>
	<p><a href="/listasyt">Buscar de nuevo</a></p>
{% endblock %}