{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block content %}
<br>
	<h1>BUSCADOR DE PLAYLIST</h1>
	<form action="/nuevaplaylist" method="post">
	<div>
		<fieldset>
			<legend>Busca las playlist</legend>
			Nombre playlist: <input type="text" name="nombre" required/>
			Descripción: <input type="text" name="desc" required/>
			Publico(true/false):  <input type="text" name="public" required/>
			<br>
		</fieldset>
		<input type="submit" value="Crear">
	</form>
<br>
{% endblock %}